<h4>WOOOOOOOH! YOU'RE ON YOUR WAY!</h4>
<p>Congrats, you've been <strong>accepted</strong> to ShellHacks!</p>
<p>Below we've got a few pointers on how to make the most of your experience at ShellHacks:</p>

<h5>Stuff to Bring</h5>
<ul class="list">
    <li><strong>Government and school ID</strong> - We need to know who you are and if you're a college student at time of check-in so make sure nt to forget these</li>
    <li><strong>Laptop</strong> - You're definitely gonna wanna bring this if you're hacking (though MLH does provide laptops on a first come, first serve basis)</li>
    <li><strong>Necessary chargers, battery packs and cables</strong> - </li>
    <li><strong>Hygienic (deodorant, toothbrush, toothpaste, Anti-bacterial wipes, face wash)</strong> - Freshening up a bit during a hackathon can go a long </li>
    <li><strong>Spare clothes</strong> - You might not be able to shower, but switching into a clean set of clothes is the next refreshing thing to one</li>
    <li><strong>Pillow</strong> - We all like soft things to sleep on, right?</li>
    <li><strong>Blanket</strong> - Again, soft things 😊</li>
    <li><strong>Earphones/headphones</strong> - Please don't torture those around you with [insert least favorite artist here]</li>
    <li><strong>Empty Backpack for swag!</strong> - We're gonna be offering swag bags, but other companies will to, and you're definitely gonna want to keep all that sweet, sweet swag</li>
    <li><strong>Notebook/scratch paper + pen/pencil</strong> - Maybe your laptop died mid talk, or you're the kind of person that love the feel of pen and paper. Either way, having something to write with never hurts</li>
    <li><strong>Jacket / Hoodie / Beanie</strong> - These rooms basically have hospital grade air conditioning, so that might be a good or bad thing depending on how you feel about a cold room</li>
    <li><strong>Allergy medicine</strong> - We've made sure to try and accommodate for allergies but it's still better to be safe than sorry</li>
    <li><strong>Extension cords</strong> - If you've got 'em, bring 'em. Just remember to not daisy chain them, though</li>
    <li><strong>Sleeping bag</strong> - We'll be offering a napping zone </li>
    <li><strong>An open mind</strong> - Hackathons are all about learning, so make a game plan about what you wanna learn during those 36 hours and make sure to have fun!</li>
</ul>