<h4>WOOOOOOOH! YOU'RE ON YOUR WAY!</h4>
<p>Congrats, you've been <strong>accepted</strong> to ShellHacks!</p>
<p>Below we've got a few pointers on how to make the most of your experience at ShellHacks:</p>
<ul class="list">
    <li><strong>Bring Deoderant</strong>: At a 36 hour event, you're most likely not going to be focusing on showering.</li>
    <li>Lorem Ipsum</li>
    <li>Lorem Ipsum</li>
    <li>Lorem Ipsum</li>
    <li>Lorem Ipsum</li>
</ul>