<h4>WOOOOOOOH! YOU'RE ON YOUR WAY!</h4>
<p>Congrats, you've been <strong>accepted</strong> to ShellHacks!</p>
<p>Below we've got a few pointers on how to make the most of your experience at ShellHacks:</p>
<ul class="list">
    <li><strong>Bring Deoderant</strong>: At a 36 hour event, you're most likely not going to be focusing on showering</li>
    <li><strong>Bring a pillow</strong>: Pillows are soft, cuddly, and help with getting a decent nights rest (if you plan on sleeping, that is)</li>
    <li><strong>Bring your chargers</strong>: There's plenty of plugs to keep your phone and tech alive. If you want, you could bring a surge protector too to get more outlets</li>
    <li><strong>Come ready to learn!</strong>: Hackathons are all about learning, to make a game plan about what you wanna learn during those 36 hours</li>
</ul>