<h4>You have been denied access to ShellHacks</h4>
<p>You are barred from attending this event, most likely due to to a violation of the MLH Code of Conduct at our event,
    at another member event, or another kind of violation/reason.</p>

{% if user.denailReason %}
    <p>Your access was denied for the following reason: {{ user.denialReason }}</p>
{% endif %}

<p>You can attempt to appeal this decision by contacting <a href="mailto:incidents@mlh.io">incidents@mlh.io</a> with “[Appeal]” in the subject line and attaching relevant information.</p>