<h4>We're sad you can't make it, but glad you were nice enough to inform us about it!</h4>
<p>Letting go can be hard, and it sucks we won't be able to see you at ShellHacks. On the brighter end of things though,
    this selfless act has given another hacker the chance of attending the event. They may not know who you are, but
    they're definitely thankful that you gave them this opportunity!</p>