<h4>And now the wait begins...</h4>
<p>You've gor you're email confirmed and shown your interest for attending ShellHacks! From this point on, it's a
    waiting game to see if you've been accepted or not.</p>
<p>Make sure to keep and eye out on your email and this page to see if you've been selected!</p>