<h4>Awe man, you were <em>sooooooo</em> close...</h4>
<p>Seems your application has been rejected. That's a bummer :(</p>

<p>Sometimes there just isn't enough space to allow everyone, other times maybe there just isn't enough funding to go
    around to host as many hackers, but know that we appreciate the fact that you took the time to fill out the form and
    waited for a response.</p>