<h4>Looks like you're <em>almost</em> there...</h4>
<p>You've got your deets submitted, but it looks like you still haven't confirmed your email address.</p>
<p>If you haven't gotten your email and you're unable to <a href="/verify">resend a new one</a>, then please message us
    at
    <a href="mailto:questions@shellhacks.net">questions@shellhacks.net</a> and we'll try to help you get things sorted
</p>