<h4>It's still a bit of a waiting game (but hopefully not for long)</h4>
<p>Right now we're in the process of accepting students, and it looks like you're right within that window. If there's space
    for you to come, we'll make sure to notify you ASAP!</p>
<p>Make sure to keep an eye out on your email and this page to see if you've been selected!</p>