<section class="hero">
        <div class="left">

            <section class="links">
                {% if not user.loggedIn and site.acceptingRegistrations %}
                <a class="button" href="register">Register</a>
                {% endif %}
                <a class="button" href="/resources/Sponsorship_Packet.pdf">Sponsor</a>
            </section>

        </div>
    <div class="right">
        <img class="logo" src="assets/imgs/logo-final.svg" alt="ShellHacks Logo">
        <h2><strong><em>Learn. Create. Share.</em></strong></h2>
        <h2 class="dates">Sept 29 &mdash; Oct 1</h2>
    </div>
</section>