<section class="hero">
        <div class="left">

            <section class="links">
                {% if not user.loggedIn and site.acceptingRegistrations %}
                <a class="button" href="register">Register</a>
                {% endif %}
                <a class="button" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRbyGdflqQWQWdmbiWk1K-SFV62wWwDXkThL2h4XdBS_mpD9RG4nTgc8XeV2aYUJ-wXCqQhoXKO8BTa/pubhtml">Expo Numbers</a>
                {#<a class="button" href="/resources/Sponsorship_Packet.pdf">Sponsor</a>#}
            </section>

        </div>
    <div class="right">
        <img class="logo" src="assets/imgs/logo-final.svg" alt="ShellHacks Logo">
        <h3 class="dates">Sept 29 &mdash; Oct 1 &nbsp;&nbsp;|&nbsp;&nbsp; Miami, FL</h3>
    </div>
</section>