<section class="hero">
    {% if not user.loggedIn %}
        <div class="left">
        <section class="links">
                <a class="button" href="register">Register</a>
                <a class="button" href="dash">Login</a>
            <a class="button" href="/resources/Sponsorship_Packet.pdf">Sponsor</a>
        </section>
    </div>
    {% endif %}
    <div class="right">
        <img class="logo" src="assets/imgs/logo-final.svg" alt="ShellHacks Logo">
        <h2><strong><em>Learn. Create. Share.</em></strong></h2>
    </div>
</section>