<section class="clamped beach" id="about">
    <div class="content">
        <article>
            <h2>What is ShellHacks?</h2>
            <p>ShellHacks is an upcoming 36-hour hackathon at Florida International University (FIU), taking place the weekend of Friday, September 29 to Sunday, October 1st.</p>
            <p>Our mission is to provide students with the opportunity to learn about new technologies, create innovative projects, and share their work with the community!</p>
        </article>
    </div>
</section>