<section class="clamped sponsors" id="sponsors">
    <div class="content">
        <section class="sponsor-group">
            <h2>Organizers</h2>
            <a target="_blank" href="http://upefiu.io"><img src="assets/imgs/logos/partners/UPE.png" style="max-width: 200px; max-height: 200px;" alt="Upsilon Pi Epsilon" title="Upsilon Pi Epsilon"></a>
        </section>
        <h1>Sponsors</h1>
        <section class="sponsor-group conch">
            {#<h2>Conch</h2>#}
            <a target="_blank" href="https://spotify.com"><img src="assets/imgs/logos/conch/spotify.svg" alt="Spotify" title="Spotify"></a>
        </section>
        <section class="sponsor-group cone">
            {#<h2>Cone</h2>#}
            <a target="_blank" href="http://ge.com/"><img src="assets/imgs/logos/cone/ge.svg" alt="General Electric" title="General Electric"></a>
            <a target="_blank" href="http://firstbuild.com/"><img src="assets/imgs/logos/cone/1B.png" style="transform: scale(.70)" alt="FirstBuild" title="FirstBuild"></a>
            <a target="_blank" href="https://cisco.com/"><img src="assets/imgs/logos/cone/cisco.svg" alt="Cisco" title="Cisco"></a>
            <a target="_blank" href="https://akamai.com/"><img src="assets/imgs/logos/cone/akamai.svg" alt="Akamai" title="Akamai"></a>
        </section>
        <section class="sponsor-group scallop">
            {#<h2>Scallop</h2>#}
            <a target="_blank" href="https://amazon.com/"><img src="assets/imgs/logos/scallop/amazon.svg" style="filter: saturate(0)" alt="Amazon" title="Amazon"></a>
        </section>
        <section class="sponsor-group sand-dollar">
            {#<h2>Sand Dollar</h2>#}
            <a target="_blank" href="https://intel.com"><img src="assets/imgs/logos/sand-dollar/intel.svg" alt="Intel Corp." title="Intel Corp."></a>
            <a target="_blank" href="https://github.com/"><img src="assets/imgs/logos/sand-dollar/github-logo.png" style="filter: invert(1)" alt="GitHub" title="GitHub"></a>
            <a target="_blank" href="https://scis.fiu.edu/"><img src="assets/imgs/logos/partners/SCIS.png" alt="FIU School of Computing and Information Sciences" title="FIU School of Computing and Information Sciences"></a>
            <a target="_blank" href="http://upefiu.io"><img src="assets/imgs/logos/sand-dollar/UPE-NATIONAL.png" style="max-width: 200px; max-height: 200px;" alt="Upsilon Pi Epsilon National" title="Upsilon Pi Epsilon National"></a>
            <a target="_blank" href="https://www.stickermule.com/uses/laptop-stickers"><img src="assets/imgs/logos/sand-dollar/stickermule.svg" style="max-width: 250px;" alt="StickerMule" title="StickerMule"></a>
            <a target="_blank" href="https://jetbrains.com"><img src="assets/imgs/logos/sand-dollar/jetbrains.png" alt="JetBrains" title="JetBrains"></a>
        </section>
        <section class="sponsor-group partner">
            <h3>Partners</h3>
            <a target="_blank" href="https://cec.fiu.edu/"><img style="transform: scale(0.6)" src="assets/imgs/logos/partners/CEC.png" alt="FIU College of Engineering and Computing" title="FIU College of Engineering and Computing"></a>
            <a target="_blank" href="http://startup.fiu.edu/"><img src="assets/imgs/logos/partners/StartUPFIU.png" alt="StartUP FIU" title="StartUP FIU"></a>
            <a target="_blank" href="http://wicsatfiu.weebly.com/"><img src="assets/imgs/logos/partners/WiCS.png" alt="Women in Computer Science" title="Women in Computer Science"></a>
            <a target="_blank" href="https://ieee.fiu.edu"><img src="assets/imgs/logos/partners/IEEE.png" alt="Institute of Electrical and Electronics Engineers" title="Institute of Electrical and Electronics Engineers"></a>
            <a target="_blank" href="https://thetatau.fiu.edu/"><img src="assets/imgs/logos/partners/OT.png" alt="Theta Tau" title="Theta Tau"></a>
            <a target="_blank" href="https://swe.fiu.edu/"><img src="assets/imgs/logos/partners/SWE.png" alt="Society of Women Engineers" title="Society of Women Engineers"></a>
            <a target="_blank" href="https://innovating.miami/"><img src="assets/imgs/logos/partners/MIA.png" alt="Miami Innovators Association" title="Miami Innovators Association"></a>
            <a target="_blank" href="https://hkn.fiu.edu/"><img src="assets/imgs/logos/partners/HKN.png" alt="Eta Kappa Nu" title="Eta Kappa Nu"></a>
            <a target="_blank" href="https://asi.fiu.edu/"><img src="assets/imgs/logos/partners/ASI.png" alt="Academic Success Initiative" title="Academic Success Initiative"></a>
            <a target="_blank" href="https://mlh.io/"><img src="assets/imgs/logos/partners/MLH.png" alt="Major League Hacking" title="Major League Hacking"></a>
            <a target="_blank" href="https://tbp.fiu.edu/"><img src="assets/imgs/logos/partners/TBP.png" alt="Tau Beta Pi" title="Tau Beta Pi"></a>
            <a target="_blank" href="https://shpe.fiu.edu/"><img src="assets/imgs/logos/partners/SHPE.png" alt="Society for Hispanic Professional Engineers" title="Society for Hispanic Professional Engineers"></a>
            <a target="_blank" href="http://acm.cs.fiu.edu/"><img src="assets/imgs/logos/partners/ACM.png" alt="ACM at FIU" title="ACM at FIU"></a>
            <a target="_blank" href="http://floridahackers.com"><img src="assets/imgs/logos/partners/FH.png" style="filter: saturate(0)" alt="Florida Hackers" title="Florida Hackers"></a>
            <a target="_blank" href="http://ironhack.com"><img src="assets/imgs/logos/partners/ironhack.svg" alt="Ironhack" title="Ironhack"></a>
        </section>
        <section class="sponsor-us">
            <!--                <h5>Wanna see your company here? Check out the sponsor packet below.</h5>-->
            <a href="/resources/Sponsorship_Packet.pdf" class="button">Sponsorship Packet</a>
        </section>
    </div>
</section>