<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% if user.loggedIn %}
<h1>Hi there {{ user.firstName }}</h1>
    {% for key, item in user.userInfo %}
    <p>{{ key }}: {{ item }}</p>
    {% endfor %}
{% else %}
<form action="" method="post">

    <input type="text" name="user">
    <input type="password" name="pass">
    <select name="type" id="">
        <option value="login">Login</option>
        <option value="register">Register</option>
    </select>
    <button type="submit">Send</button>
</form>
{% endif %}
</body>
</html>
