{% extends "site-base.html.twig" %}

{% block title "Login" %}

{% block extra_head %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}
    <section class="page login">
        <section class="clamped modal small">
        <section class="content">
            <h1>{{ block('title', _self) }}</h1>
            <form class="form" action="/api/request-wrapper.php?type=auth" method="post">

                <input type="email" placeholder="Email" name="email" required>
                <input type="password" placeholder="Password" name="pass" required>
                {% include "html-stubs/recaptcha.html.twig" %}
                <input type="submit" class="button">
            </form>
        </section>
        {% embed "html-stubs/dash-nav.html.twig" %}
            {% block buttons %}
                <li><a href="/forgot" class="button">Forgot Password</a></li>
            {% endblock %}
        {% endembed %}
    </section>
</section>

{% endblock %}

{% block javascript %}
    {% include "js-stubs/submit-form.js.twig" %}
{% endblock %}