{% extends "site-base.html.twig" %}

{% block title "Successfully Registered" %}

{% block body %}
    {% embed "html-stubs/page.html.twig" %}
        {% block pagebody %}
            {% embed "html-stubs/modal.html.twig" %}
                {% block modalbody %}
                    <section class="content">
                        <h1>{{ block('title', _self) }}</h1>
                        <p>You have been successfully registered and will need to verify your email account to complete registration.</p>
                        <p>You will also be redirected to the login page shortly.</p>
                    </section>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascript %}
    setTimeout(() => {
    window.location.replace('/dash');
    }, 5000);

{% endblock %}