{% extends "site-base.html.twig" %}

{% block title "Verify Email" %}

{% block body %}
    <section class="page login">
        <section class="clamped modal small">
            <section class="content">
                <h1>{{ block('title', _self) }}</h1>
                <form class="form" action="/api/request-wrapper.php?type=verify" method="post">

                    <input type="hidden" name="type" value="{{ constant('VerificationType::VERIFY') }}">
                    <input type="hidden" name="key" value="{{ key }}">
                    <input type="submit" class="button" value="Verify Email">
                </form>
            </section>
            {% embed "html-stubs/dash-nav.html.twig" %}
                {% block buttons %}
                    <li><a href="/forgot" class="button">Forgot Password</a></li>
                {% endblock %}
            {% endembed %}
        </section>
    </section>

{% endblock %}

{% block javascript %}
    {% include "js-stubs/submit-form.js.twig" %}
{% endblock %}